.pageshadow-shadow{
	position:absolute;
	top:0%;
	width:.2%;
	height:100%;
}

.pageshadow-left{
	left:49.8%;
	background-color:rgba(0,0,0,0.35);
}

.pageshadow-right{
	left:50%;
	background-color:rgba(0,0,0,0.2);
}

